@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}
.ti-cursor {
    position: relative;
    display: inline !important;
    color: inherit !important;
    line-height: inherit !important;
    font:inherit !important;
}

.-z-1{
    z-index: -1;
}

.height-max {
    height: 100vh !important;
}