@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    hyphens: auto;
}

.ti-cursor {
    position: relative;
    display: inline !important;
    color: inherit !important;
    line-height: inherit !important;
    font:inherit !important;
    margin: 0 !important;
}

.-z-1{
    z-index: -1;
}

.swiper-wrapper {
    height: 100%  !important;
    display: flex;
    align-items: center !important;
}

#tsparticles {
    @apply bg-black fixed w-screen h-screen;
    z-index: -1;
}

.background {
    background: black;
    background: linear-gradient(135deg, #040404, #000);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;
}