.main {
    @apply mx-4;
}

.titleContainer {
    @apply text-center space-y-8 pt-10;
}

.particleContainer {
    @apply flex gap-8 py-20 px-6 items-center;
}

.teaserContainer {
    @apply relative;
    padding-top: 56.25%;
}

.teaser {
    @apply absolute inset-0 w-full h-full;
    max-height: calc(100vh - theme('spacing.8'))
}

.list {
    @apply text-lg text-white text-opacity-50;
}

.list>li {
    @apply relative flex ml-10 mr-10;
}

.list>li::before {
    @apply text-4xl leading-none text-orange text-opacity-60 absolute -left-10;
}

.listStar>li::before {
    content: "\2605";
}

.listBullet>li::before {
    content: "\25CF";
}

.footerContainer {
    @apply text-center relative mt-96;
}

.footer {
    @apply relative px-8;
}

.customUnderline {
    @apply relative inline-block;
}

.customUnderline::before {
    @apply absolute bg-current left-1 bottom-0;
    content: "";
    height: 3px;
    width: 70%;
}

.linkContainer {
    @apply grid grid-cols-3 gap-4 text-left font-bold;
}

@screen sm {
    .particleContainer {
        @apply gap-10;
    }
}

@screen lg {
    /* Space for menu + 4 rem from both sides */
    .main {
        @apply ml-16 mr-72;
    }
    /* Height screen - 8 rem, (4 for both sides)*/
    .teaser {
        max-height: calc(100vh - theme('spacing.32'))
    }
    .list>li {
        @apply mr-0;
    }
    .footerContainer {
        @apply text-left;
    }
    .footer {
        @apply px-16;
    }
    .linkContainer {
        @apply w-1/2 grid-cols-2;
    }
    .particleContainer {
        @apply gap-14;
    }
}

@screen xl {
    .particleContainer {
        @apply px-28 gap-20;
    }
}

@screen 2xl {
    .particleContainer {
        @apply px-40 gap-24;
    }
}